<nav class="navbar navbar-expand navbar-dark bg-dark p-3">
  <a class="navbar-brand" routerLink="/home"> Meu Bankline </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active"> Home </a>
    <a class="nav-item nav-link" routerLink="/planos-conta" routerLinkActive="active"> Planos Conta </a>
    <a class="nav-item nav-link" routerLink="/lancamentos" routerLinkActive="active"> Lançamentos </a>

    <button class="btn btn-outline-light" (click)="logout()"> Logout </button>
  </div>
</nav>
