<!-- ngIF -->
<button (click)="trocarValor()"> Trocar valor </button>

<div *ngIf="deveExibir; then meuOutroBloco else meuOutroBloco3">
  Olá, estou dentro do ngIf.
</div>

<div *ngIf="soma(2, 3) > 2">
  Olá, estou dentro do ngIf. 
</div>

<ng-template #meuOutroBloco>
  Vou ser exibido quando o deveExibir for FALSE.
</ng-template>

<ng-template #meuOutroBloco3>
  Vou ser exibido quando o deveExibir for FALSE.
</ng-template>

<ng-template [ngIf]="deveExibir">
  <p>Conteudo dentro do ngIf sem asterisco</p>
</ng-template>


<!-- ngFor -->
<ul>
  <li *ngFor="let fruta of frutas; index as i; let odd = odd; last as ultimo">
    {{ i + 1 }} - {{ fruta }} - {{ odd ? 'ESTE É PAR!' : 'É IMPAR'}} | 
    {{ ultimo ? 'ESTE É O ÚLTIMO' : '' }}
  </li>
</ul>

<!-- Exercício -->

<!-- <ul>
  <li *ngFor="let memesAgrupados of MEMES_AGRUPADOS_POR_CATEGORIA">
    <h2> {{ memesAgrupados.categoria }} </h2>

    <div *ngFor="let meme of memesAgrupados.memes; let par = even">
      <p> {{ meme.titulo }} </p>
      <img [src]="IMAGEM_PREFIXO + meme.imagemURL" *ngIf="!par else blocoPar" width="200">
      <ng-template #blocoPar>
        ESTA IMAGEM É PAR!
      </ng-template>
    </div>

  </li>
</ul> -->


<!-- Diretivas de Atributo -->

<button (click)="trocarParaVermelho()"> Trocar para vermelho </button>

<button (click)="trocarParaVerde()"> Trocar para verde </button>

<h2 [ngClass]="classeCSS"> Meu texto com ngClass </h2>
<h2 [ngClass]="deveExibir ? 'verde' : 'vermelho'"> Meu segundo texto com ngClass </h2>

<h2 [ngClass]="getClasseCSS()"> Meu terceiro texto com ngClass </h2>




