<div class="container pt-5 text-center">

  <h1> Seja bem-vindo ao Bankline!</h1>
  <form class="form-signin" #form="ngForm">
    <div class="form-group mt-3">
      <input autocomplete="username" type="text" class="form-control" placeholder="Usuário"
        [(ngModel)]="usuario" name="usuario" required
        [class.is-invalid]="exibeErro('usuario',form)" #usuarioInput
      >
      <div *ngIf="exibeErro('usuario', form)" class="invalid-feedback">
        Usuário inválido.
      </div>
    </div>
    <div class="form-group mt-3">
      <input autocomplete="current-password" type="password" class="form-control" placeholder="Senha"
        [(ngModel)]="senha" name="senha" required
        [class.is-invalid]="exibeErro('senha',form)" #senhaInput>
      <div *ngIf="exibeErro('senha', form)" class="invalid-feedback">
        Senha inválida.
      </div>
    </div>

    <p *ngIf="erroNoLogin">
      Usuário ou senha inválidos.
    </p>

    <button type="submit" class="btn btn-primary mt-3" *ngIf="!estaCarregando; else spinner"
      (click)="onSubmit(form)">Entrar</button>

    <ng-template #spinner>
      <div class="spinner-border mt-4" role="status"></div>
    </ng-template>
    
  </form>  

  <p> Não possui uma conta? <a routerLink="/cadastro"> Crie agora mesmo.</a> </p>
</div>